In [1]:
#Importe de las librerías a usar
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
from datetime import date
import seaborn as sns

In [2]:
#lectura del archivo homicidios.xlsx y conversión de la hoja HECHOS a dataframe
archivo = 'homicidios.xlsx'

In [3]:
#Se lee la hoja VICTIMAS del archivo homicidios y se convierte en un DF
df_victimas = pd.read_excel(archivo, sheet_name='VICTIMAS')

df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [4]:
#Se ejecuta comando para eliminar duplicados
df_victimas=df_victimas.drop_duplicates()

In [5]:
#Se generaen frecuencias por variable para identificar datos atípicos
df_victimas['ROL'].value_counts()

ROL
CONDUCTOR               330
PEATON                  267
PASAJERO_ACOMPAÑANTE     80
CICLISTA                 29
SD                       11
Name: count, dtype: int64

In [6]:
df_victimas['VICTIMA'].value_counts()

VICTIMA
MOTO         303
PEATON       267
AUTO          94
BICICLETA     29
SD             9
CARGAS         7
PASAJEROS      5
MOVIL          3
Name: count, dtype: int64

In [7]:
df_victimas['SEXO'].value_counts()

SEXO
MASCULINO    545
FEMENINO     166
SD             6
Name: count, dtype: int64

In [8]:
df_victimas['EDAD'].value_counts()

EDAD
SD    53
30    28
29    24
23    24
27    20
      ..
11     1
13     1
85     1
7      1
88     1
Name: count, Length: 86, dtype: int64

In [9]:
#Se eliminan los registros de EDAD con valor SD
df_victimas.drop(df_victimas[(df_victimas['EDAD'] == 'SD')].index, inplace=True)

df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 664 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             664 non-null    object
 1   FECHA                664 non-null    datetime64[ns]
 2   AAAA                 664 non-null    int64
 3   MM                   664 non-null    int64
 4   DD                   664 non-null    int64
 5   ROL                  664 non-null    object
 6   VICTIMA              664 non-null    object
 7   SEXO                 664 non-null    object
 8   EDAD                 664 non-null    object
 9   FECHA_FALLECIMIENTO  664 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 57.1+ KB

In [10]:
#Se cambia EDAD de string a entero
df_victimas['EDAD'] = df_victimas['EDAD'].astype(str).astype(int)
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 664 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             664 non-null    object
 1   FECHA                664 non-null    datetime64[ns]
 2   AAAA                 664 non-null    int64
 3   MM                   664 non-null    int64
 4   DD                   664 non-null    int64
 5   ROL                  664 non-null    object
 6   VICTIMA              664 non-null    object
 7   SEXO                 664 non-null    object
 8   EDAD                 664 non-null    int32
 9   FECHA_FALLECIMIENTO  664 non-null    object
dtypes: datetime64[ns](1), int32(1), int64(3), object(5)
memory usage: 54.5+ KB

In [11]:
#Se renombra la variable ID_hecho del df_victimas
df_victimas=df_victimas.rename(columns={'ID_hecho': 'ID'})
df_victimas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 664 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   664 non-null    object
 1   FECHA                664 non-null    datetime64[ns]
 2   AAAA                 664 non-null    int64
 3   MM                   664 non-null    int64
 4   DD                   664 non-null    int64
 5   ROL                  664 non-null    object
 6   VICTIMA              664 non-null    object
 7   SEXO                 664 non-null    object
 8   EDAD                 664 non-null    int32
 9   FECHA_FALLECIMIENTO  664 non-null    object
dtypes: datetime64[ns](1), int32(1), int64(3), object(5)
memory usage: 54.5+ KB

In [12]:
#Se calcula el promedio de edad de las víctimas
df_victimas.EDAD.mean()

42.16716867469879

In [13]:
#Se lee la hoja HECHOS del archivo homicidios y se convierte en DF
df_hechos = pd.read_excel(archivo, sheet_name='HECHOS')

df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [14]:
#Se eliminan columnas innecesarias
df_hechos.drop(['FECHA','AAAA','MM','DD','LUGAR_DEL_HECHO','Calle','Altura','Cruce','VICTIMA'], axis=1, inplace=True)

In [15]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   HORA                   696 non-null    object
 3   HH                     696 non-null    object
 4   TIPO_DE_CALLE          696 non-null    object
 5   Dirección Normalizada  688 non-null    object
 6   COMUNA                 696 non-null    int64
 7   XY (CABA)              696 non-null    object
 8   pos x                  696 non-null    object
 9   pos y                  696 non-null    object
 10  PARTICIPANTES          696 non-null    object
 11  ACUSADO                696 non-null    object
dtypes: int64(2), object(10)
memory usage: 65.4+ KB

In [16]:
#Se ejecuta comando para eliminar duplicados
df_hechos=df_hechos.drop_duplicates()

df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   HORA                   696 non-null    object
 3   HH                     696 non-null    object
 4   TIPO_DE_CALLE          696 non-null    object
 5   Dirección Normalizada  688 non-null    object
 6   COMUNA                 696 non-null    int64
 7   XY (CABA)              696 non-null    object
 8   pos x                  696 non-null    object
 9   pos y                  696 non-null    object
 10  PARTICIPANTES          696 non-null    object
 11  ACUSADO                696 non-null    object
dtypes: int64(2), object(10)
memory usage: 65.4+ KB

In [17]:
#Se unen las tablas hechos y victimas
victimas_total = pd.merge(df_victimas, df_hechos, how='left', on='ID')

In [18]:
victimas_total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     664 non-null    object
 1   FECHA                  664 non-null    datetime64[ns]
 2   AAAA                   664 non-null    int64
 3   MM                     664 non-null    int64
 4   DD                     664 non-null    int64
 5   ROL                    664 non-null    object
 6   VICTIMA                664 non-null    object
 7   SEXO                   664 non-null    object
 8   EDAD                   664 non-null    int32
 9   FECHA_FALLECIMIENTO    664 non-null    object
 10  N_VICTIMAS             664 non-null    int64
 11  HORA                   664 non-null    object
 12  HH                     664 non-null    object
 13  TIPO_DE_CALLE          664 non-null    object
 14  Dirección Normalizada  658 non-null    object
 15  COMUNA                 664 non-null    int64
 16  XY (CABA)              664 non-null    object
 17  pos x                  664 non-null    object
 18  pos y                  664 non-null    object
 19  PARTICIPANTES          664 non-null    object
 20  ACUSADO                664 non-null    object
dtypes: datetime64[ns](1), int32(1), int64(5), object(14)
memory usage: 106.5+ KB

In [19]:
#Guardamos el DF en un archivo de excel
victimas_total= victimas_total.to_excel("total_victimas.xlsx", index=False)